{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{% block styles %}
{% bootstrap_css %}

{% endblock %}
<body>
  {% include "navbar.html" %}
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img class='' src="{{image.delailed_image.url}}" alt="{{image.name}}">

      </div>
      <div class="col-md-4">
        <h3>Image Detials</h3>
        <h4> <strong>{{image.name}}</strong></h4>
        <p>Description: {{image.description}}</p>
        <p>Location: {{image.location}}</p>
        <p>Category: {{image.category}}</p>
        <p>posted on: {{image.pub_date}}</p>


      </div>
    </div>
    
  </div>

  {% endblock %}
  
</body>
</html>