{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block styles %}
  {% bootstrap_css %}
  
{% endblock %}
  <title>Django Gallery</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container-fluid">
    <div class="row">
      <h2 class="text-center">Gallery</h2>
      {% for image in images%}
      <div class="col-md-3"> 
        <div class="card" >
          <img class="card-img-top" src="{{image.photo.url}}" alt="{{image.name}}">
          <div class="card-body">
            <h5 class="card-title">{{image.name}}</h5>
            
          </div>
        </div>
      </div>
      
    {% endfor %}
    </div>
  </div>
  
</body>
</html>