{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Gallery</title>
  
 
  {% block styles %}
    {% bootstrap_css %}
    
  {% endblock %}

  <style>
    body{
      background-image: url('https://images.pexels.com/photos/8939718/pexels-photo-8939718.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
      background-repeat: no-repeat;
      background-position: fixed;
      background-size: cover;
    }

    h1{
      padding-top: 3%;
      color:goldenrod
    }

    #about{
      color:goldenrod;
      padding-top: 5%;
    }

  </style>



</head>
<body>
  {% include "navbar.html" %}
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center">WELCOME TO THE DJANGO GALLERY </h1>
    </div>
    <div class="text-center" id="about">
      <h2>About Section</h2>
      <p>Django Gallery is an app where you can display all categories of photos from fashion to art to photography, Nature, Wildlife etc.</p>

    </div>
    
  </div>



  {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %} 
  {% endblock %}

</body>
</html>