{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of images in {{message}} category</h2>
    {% else %}
      <h2> Found 0 images for the {{message}} category</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="{{image.photo.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{image.name}}</h5>
            <p class="card-text">{{image.description}}</p>
            <div class="card-footer">
              <small class="text-muted"> Category: {{image.category}}</small>
              <small> Location: {{image.location}}</small>
              <small> Published at: {{image.pub_date}}</small>
            </div
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}